{include="header"}
<script type="text/javascript">
    
   $(document).ready(function() {
      $("#modal_cliente").modal('show');
      document.f_nuevo_acceso.ac_cliente.focus();
      
      $("#ac_cliente").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_nuevo_acceso.cliente.value !== suggestion.data)
               {
                  document.f_nuevo_acceso.cliente.value = suggestion.data;
               }
            }
         }
      });
   });
</script>
{if="$fsc->cliente_s"}
<script type="text/javascript" src="{$fsc->get_js_location('nueva_venta.js')}"></script>
<script type="text/javascript">
   cliente = {function="json_encode($fsc->cliente_s)"};
   nuevo_acceso_url = '{$fsc->url()}';
</script>

<div class="col-lg-1 col-md-1 col-sm-1"></div>
<div class="col-sm-12">
            <h1 style="margin-top: 5px;margin-bottom: 5px;">
               <a href="{$fsc->cliente->url()}">{$fsc->cliente->nombre}</a>
            </h1>
         </div>
<div class="col-lg-10 col-md-10 col-sm-9">
    
    <form class="form" role="form" name="f_nuevo_acceso" action="{$fsc->url()}&codcliente={$fsc->cliente->codcliente}" method="post">
        <input type="hidden" name="codcliente" value="{$fsc->cliente->codcliente}">
        <input type="hidden" name="codagente" value="{$fsc->user->codagente}">
        <div class='panel {if="$fsc->cliente->debaja"}panel-danger{else}panel-primary{/if} pseudotab_cli' id='panel_generales'>
            <div class="panel-heading">
                <h3 class="panel-title">Datos generales del cliente <span>{$fsc->cliente->nombre}</span></h3>
            </div>
            <div class="panel-body">
                <div class="container-fluid">                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                Concepto:
                                <input class="form-control" type="text" name="ga_concepto" value="" autocomplete="off" maxlength="128">                               
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                Descripción:
                                <input class="form-control" type="text" name="ga_descripcion" value="" autocomplete="off" maxlength="128">
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                Usuario *:
                                <input class="form-control" type="text" name="ga_usuario" value="" autocomplete="off" maxlength="128" required>                                
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                IP del equipo:
                                <input class="form-control" type="text" name="ga_ip" value="" autocomplete="off" maxlength="39">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                Teamviewer:
                                <input class="form-control" type="text" name="ga_teamviewer" value="" autocomplete="off" maxlength="128">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                hardware:
                                <input class="form-control" type="text" name="ga_hardware" value="" autocomplete="off" maxlength="128">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                Password:
                                <input class="form-control" type="password" name="ga_password" value="" autocomplete="off" maxlength="64">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                Splashtop:
                                <input class="form-control" type="text" name="ga_splashtop" value="" autocomplete="off" maxlength="64">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                Notas:
                                <textarea class="form-control" name="ga_notas" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <small class="pull-left">Fecha de alta del cliente: {$fsc->cliente->fechaalta}</small>
                <!--<button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">-->
                <button class="btn btn-sm btn-danger" onclick="goBack()">
                    <span class="glyphicon glyphicon-step-backward"></span> &nbsp; Atrás
                </button>
                
                <button class="btn btn-sm btn-primary" type="submit">
                    <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                </button>
            </div>
        </div>
    </form>    
        <script>
            function goBack() {
    		window.location.href='?page=gestion_acceso&codcliente={$fsc->cliente->codcliente}';
            }
	</script>
{else}                
<div class="modal" id="modal_cliente">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
               <span class="glyphicon glyphicon-search"></span>
               &nbsp; Selecciona el cliente
            </h4>
            <p class="help-block">
               Busca y selecciona el cliente.
            </p>
         </div>
         <div class="modal-body">
            <form name="f_nuevo_acceso" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="cliente"/>
               <div class="form-group">
                  <div class="input-group"> 
                     <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" value="{$fsc->cliente->nombre}" placeholder="Buscar" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                  </span>                  </div>
               </div>
            </form>
         </div>
        
      </div>
   </div>
</div>

<div class="container" style="margin-top: 10px; margin-bottom: 100px;">
   <div class="row">
      <div class="col-lg-12">
         <h1>Paso 1:</h1>
         <p>Selecciona el cliente al que quieres asignar o consultar accesos.</p>
         <a href="#" class="btn btn-block btn-default" data-toggle="modal" data-target="#modal_cliente">Selecciona el cliente</a>
         <h2>Paso 2:</h2>
         <p>Haz clic sobre Nuevo si quieres añadir un acceso, o elige uno de los accesos existentes.</p>
      </div>
   </div>
</div>
{/if}                
{include="footer"}